#Steps to take:

1. adding all the data into a single dataframe
2. removing duplicates
3. removing dots (.....) from the augmented data

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
bugs_tweets = pd.read_excel('/content/drive/MyDrive/Chapman PhD/CS799/data/bugs_tweets_v2.xlsx')
feature_release_tweets = pd.read_excel('/content/drive/MyDrive/Chapman PhD/CS799/data/feature_release_tweets.xlsx')
partnership_tweets = pd.read_excel('/content/drive/MyDrive/Chapman PhD/CS799/data/partnership_tweets.xlsx')
marketing_tweets = pd.read_excel('/content/drive/MyDrive/Chapman PhD/CS799/data/marketing_tweets.xlsx')
other_tweets = pd.read_excel('/content/drive/MyDrive/Chapman PhD/CS799/data/other_tweets.xlsx')

In [ ]:
feature_release_tweets

In [ ]:
# cleaning feature release tweets

augmented_feature_release = feature_release_tweets.drop(labels = 'tweets', axis = 1)
augmented_feature_release.rename(columns={'augmented_tweets': "tweets"}, inplace = True)

cleaned_feature_realse = pd.concat([feature_release_tweets, augmented_feature_release])
cleaned_feature_realse.drop(labels = "augmented_tweets", axis = 1, inplace = True)


cleaned_feature_realse.drop_duplicates(subset=['tweets'], inplace = True)

cleaned_feature_realse.reset_index(inplace = True)
cleaned_feature_realse.drop(labels = ['Unnamed: 0', 'index'], axis = 1, inplace = True)

cleaned_feature_realse

In [ ]:
# removing dots:

from re import search

for ind in cleaned_feature_realse.index:
    if search(' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .', cleaned_feature_realse['tweets'][ind]):
        print(ind, cleaned_feature_realse['tweets'][ind])

In [ ]:
cleaned_feature_realse.drop(index = 542, inplace = True)
cleaned_feature_realse.reset_index(inplace = True, drop = True)
cleaned_feature_realse

,tweets,date,sentiment,lable
0,Deposits and withdrawals of $OGV via ERC20 hav...,2022-07-26,Positive,Feature Release
1,$FXS is now live on Bancor 3! ðŸ¥³\n \nðŸ’§ Single-S...,2022-06-11,Positive,Feature Release
2,"""This [update] is mainly a maintenance release...",2022-08-23,Positive,Feature Release
3,Asset management protocol @DefiEdge has integr...,2022-06-24,Positive,Feature Release
4,Itâ€™s time to get testing as Aave V3 has offici...,2022-06-07,Positive,Feature Release
...,...,...,...,...
1010,Mystique active sur le rÃ©seau principal #Ether...,2022-02-01,Positive,Feature Release
1011,New @ElrondNetwork API Portal: BlastAPI by @Bw...,2022-06-21,Positive,Feature Release
1012,"1/- At Labs, we want to integrate millions of ...",2022-04-11,Positive,Feature Release
1013,Aave V3 has landed in Zapper.Follow your portf...,2022-03-23,Positive,Feature Release
1014,#Tether USDt launches on Kusama https://t.co/q...,2022-04-13,positive,Feature Release

In [ ]:
cleaned_feature_realse.to_excel("cleaned_feature_release.xlsx")

In [ ]:
# cleaning partnership tweets:

augmented1_bugs = bugs_tweets.drop(labels = 'tweets', axis = 1)
augmented1_bugs.rename(columns={'augmented_tweets': "tweets"}, inplace = True)

cleaned_partnership = pd.concat([partnership_tweets, augmented_partnership])
cleaned_partnership.drop(labels = "augmented_tweets", axis = 1, inplace = True)

cleaned_partnership.drop_duplicates(subset=['tweets'], inplace = True)
cleaned_partnership.reset_index(inplace = True)
cleaned_partnership.drop(labels = ['Unnamed: 0', 'index'], axis = 1, inplace = True)

cleaned_partnership

In [ ]:
# removing dots:

from re import search

for ind in cleaned_partnership.index:
    if search(' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .', cleaned_partnership['tweets'][ind]):
        print(ind, cleaned_partnership['tweets'][ind])

In [ ]:
cleaned_partnership.drop(index = 508, inplace = True)

In [ ]:
cleaned_partnership.reset_index(inplace = True, drop = True)

In [ ]:
cleaned_partnership

In [ ]:
cleaned_partnership.to_excel('cleaned_partnership.xlsx')

In [ ]:
# cleaning bugs tweets:

bugs_tweets.columns

In [ ]:

# cleaning partnership tweets:

augmented_bug1 = bugs_tweets[['date', 'sentiment', 'lable', 'fr_augmented_tweets']]
augmented_bug2 = bugs_tweets[['date', 'sentiment', 'lable', 'de_augmented_tweets']]
augmented_bug3 = bugs_tweets[['date', 'sentiment', 'lable', 'de_from_fr_augmented_tweets']]
augmented_bug4 = bugs_tweets[['date', 'sentiment', 'lable', 'fr_from_de_augmented_tweets']]
augmented_bug5 = bugs_tweets[['date', 'sentiment', 'lable', 'it_augmented_tweets']]
augmented_bug6 = bugs_tweets[['date', 'sentiment', 'lable', 'es_augmented_tweets']]
augmented_bug7 = bugs_tweets[['date', 'sentiment', 'lable', 'ru_augmented_tweets']]
augmented_bug8 = bugs_tweets[['date', 'sentiment', 'lable', 'ru_from_de_augmented_tweets']]
augmented_bug9 = bugs_tweets[['date', 'sentiment', 'lable', 'es_from_ru_augmented_tweets']]
augmented_bug10 = bugs_tweets[['date', 'sentiment', 'lable', 'es_from_fr_augmented_tweets']]
augmented_bug11 = bugs_tweets[['date', 'sentiment', 'lable', 'de_from_ru_augmented_tweets']]
augmented_bug12 = bugs_tweets[['date', 'sentiment', 'lable', 'fr_from_es_augmented_tweets']]
augmented_bug13 = bugs_tweets[['date', 'sentiment', 'lable', 'it_from_es_augmented_tweets']]
augmented_bug14 = bugs_tweets[['date', 'sentiment', 'lable', 'it_from_ru_augmented_tweets']]


augmented_bug1.rename(columns={'fr_augmented_tweets': "tweets"}, inplace = True)
augmented_bug2.rename(columns={'de_augmented_tweets': "tweets"}, inplace = True)
augmented_bug3.rename(columns={'de_from_fr_augmented_tweets': "tweets"}, inplace = True)
augmented_bug4.rename(columns={'fr_from_de_augmented_tweets': "tweets"}, inplace = True)
augmented_bug5.rename(columns={'it_augmented_tweets': "tweets"}, inplace = True)
augmented_bug6.rename(columns={'es_augmented_tweets': "tweets"}, inplace = True)
augmented_bug7.rename(columns={'ru_augmented_tweets': "tweets"}, inplace = True)
augmented_bug8.rename(columns={'ru_from_de_augmented_tweets': "tweets"}, inplace = True)
augmented_bug9.rename(columns={'es_from_ru_augmented_tweets': "tweets"}, inplace = True)
augmented_bug10.rename(columns={'es_from_fr_augmented_tweets': "tweets"}, inplace = True)
augmented_bug11.rename(columns={'de_from_ru_augmented_tweets': "tweets"}, inplace = True)
augmented_bug12.rename(columns={'fr_from_es_augmented_tweets': "tweets"}, inplace = True)
augmented_bug13.rename(columns={'it_from_es_augmented_tweets': "tweets"}, inplace = True)
augmented_bug14.rename(columns={'it_from_ru_augmented_tweets': "tweets"}, inplace = True)

bugs_tweets = bugs_tweets[['date', 'sentiment', 'lable', 'tweets']]


cleaned_bugs = pd.concat([bugs_tweets, augmented_bug1, augmented_bug2, augmented_bug3, augmented_bug4, augmented_bug5,
                          augmented_bug6, augmented_bug7, augmented_bug8, augmented_bug9, augmented_bug10,
                          augmented_bug11, augmented_bug12, augmented_bug13, augmented_bug14])


cleaned_bugs.drop_duplicates(subset=['tweets'], inplace = True)
cleaned_bugs.reset_index(inplace = True)
cleaned_bugs.drop(labels = ['index'], axis = 1, inplace = True)

cleaned_bugs

In [ ]:
cleaned_bugs.to_excel('cleaned_bugs.xlsx')

In [ ]:
# removing dots:

from re import search

for ind in cleaned_bugs.index:
    if search(' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .', cleaned_bugs['tweets'][ind]):
        print(ind, cleaned_bugs['tweets'][ind])

##Now we need to remove extra Marketing and Other categories tweets:

In [ ]:
#cleaning marketing:

cleaned_marketing_tweets = marketing_tweets.sample(n=1000)
cleaned_marketing_tweets.reset_index(inplace = True, drop= True)
cleaned_marketing_tweets.drop(labels = "Unnamed: 0", inplace = True, axis = 1)
cleaned_marketing_tweets

In [ ]:
cleaned_marketing_tweets.to_excel('cleaned_marketing.xlsx')

In [ ]:
#cleaning Other:

cleaned_other_tweets = other_tweets.sample(n=1000)
cleaned_other_tweets.reset_index(inplace = True, drop= True)
cleaned_other_tweets.drop(labels = "Unnamed: 0", inplace = True, axis = 1)
cleaned_other_tweets

In [ ]:
cleaned_other_tweets.to_excel('cleaned_other.xlsx')

#Now we can have all cleaned tweets in one dataset:

In [ ]:
cleaned_train_data = pd.concat([cleaned_bugs, cleaned_marketing_tweets, cleaned_partnership, cleaned_other_tweets, cleaned_feature_realse])

# shuffle the data:
cleaned_train_data = cleaned_train_data.sample(n=4698)

cleaned_train_data.reset_index(inplace = True, drop = True)
cleaned_train_data = cleaned_train_data[['tweets', 'lable']]
cleaned_train_data

In [ ]:
cleaned_train_data.to_excel('cleaned_training_data.xlsx')

In [ ]:
cleaned_train_data.isnull().sum()

Cleaning test dataset:

In [ ]:
test_dataset = pd.read_excel('/content/drive/MyDrive/Chapman PhD/CS799/data/test_dataset.xlsx')
test_dataset

In [ ]:
cleaned_test_dataset = test_dataset[['tweets', 'lable']]
cleaned_test_dataset

In [ ]:
cleaned_test_dataset.to_excel('cleaned_test_dataset.xlsx')